.section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.bg {
  position: absolute;
  inset: 0;
  &::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.slide {
  width: 100vw;
  color: var(--color-white);
  .img {
    height: 56vh;
  }
}

.slideInner {
  position: relative;
  z-index: 2;
  height: 100%;
  text-align: center;
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.mobileContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(20px);
  padding-bottom: rem(100px);
}

.desktopContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(40px);
  max-width: calc(rem(1000) + var(--container-padding) * 2);
  @media (min-width: 1600px) {
    gap: rem(90px);
    max-width: calc(rem(1278px) + var(--container-padding) * 2);
  }
}

.card {
}
.cardImg {
  height: rem(360px);
  @media (min-width: 1600px) {
    height: rem(440px);
  }
}
.cardContent {
  margin-top: rem(40px);
  p {
    margin-top: rem(20px);
  }
}
