.modal {
  position: fixed;
  inset: 0;
  z-index: 170;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.35s var(--easeOutBack);

  padding-top: var(--header-height);

  @media (min-width: 768px) {
    padding: var(--container-padding);
    padding-right: calc(90px + var(--container-padding));
  }

  &.open {
    opacity: 1;
    pointer-events: auto;
    .wrapper {
      scale: 1;
    }
  }
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: rem(925px);
  width: 100%;
  scale: 0.9;
  transition: scale 0.35s var(--easeOutBack);
  max-height: 100%;
  @media (min-width: 1024px) {
    height: auto;
  }
}

.wrapperInner {
  overflow: auto;
  //height: 100%;
  max-height: 100%;
  @media (min-width: 768px) {
    //height: auto;
    padding-top: 0;
  }
}

.content {
  position: relative;
  padding: rem(30px);
  background-color: var(--color-dark);
  color: var(--color-white);
  // overflow: hidden;
  @media (max-width: 1023px) {
    // min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (min-width: 1024px) {
    padding: rem(40px);
  }
}

.buttonClose {
  position: absolute;
  top: rem(-23px);
  translate: 0 -100%;
  right: var(--container-padding);
  color: var(--color-white);
  transition: color 0.2s var(--easeInOutQuart);

  @media (min-width: 768px) {
    top: 0;
    right: rem(-20px);
    translate: 100% 0;
  }

  &:hover {
    color: var(--color-green);
  }
}

.subtitle {
  margin-top: rem(20px);
  @media (min-width: 1300px) {
    margin-top: rem(40px);
  }
  @media (min-width: 1600px) {
    margin-top: rem(60px);
  }
}

.form {
  margin-top: rem(80px);
  @media (min-width: 1300px) {
    margin-top: rem(130px);
  }
  @media (min-width: 1600px) {
    margin-top: rem(200px);
  }
}
