.container {
  padding-top: rem(40px);
  @media (min-width: 768px) {
    padding-top: rem(80px);
  }
  @media (min-width: 1600px) {
    padding-top: rem(110px);
  }
}

.tabs {
  margin-top: rem(40px);
  display: flex;
  flex-direction: column;
  gap: rem(16px);

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    margin-top: rem(60px);
    gap: rem(80px);
  }
  @media (min-width: 1024px) {
    margin-top: rem(80px);
  }
  @media (min-width: 1600px) {
    margin-top: rem(120px);
  }
}
.tab {
  position: relative;
  color: var(--color-grey);
  transition: color 0.2s ease;

  @media (min-width: 768px) {
    &:nth-child(2) {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: rem(-40px);
        height: 100%;
        border-right: 1px solid var(--color-dark);
      }
    }
  }

  &.active {
    color: var(--color-green);
  }
}

.docsList {
  margin-top: rem(60px);
  @media (min-width: 1024px) {
    margin-top: rem(80px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.docItem {
  display: block;
  transition: color 0.2s ease;

  span {
    display: inline-block;
    margin-top: rem(10px);
    color: var(--color-grey);
    @media (min-width: 1024px) {
      margin-top: rem(20px);
    }
  }
  + .docItem {
    margin-top: rem(30px);
    @media (min-width: 1024px) {
      margin-top: rem(40px);
    }
  }

  &:hover {
    color: var(--color-green);
  }
}
