.slide {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.slideImg {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.spinner {
}

.controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: rem(30px) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(30px);
  background-color: var(--color-white);
  @media (min-width: 768px) {
    width: rem(375px);
    left: 50%;
    translate: -50% 0;
  }
  @media (min-width: 1024px) {
    width: rem(400px);
  }
  @media (min-width: 1300px) {
    width: rem(420px);
  }
  @media (min-width: 1600px) {
    width: rem(507px);
  }
}

.hr {
  height: rem(50px);
  border-left: 1px solid var(--color-divider);
}
.sountSlides {
  color: var(--color-divider);
}

.navBtn {
  color: var(--color-dark);
  transition: color 0.3s ease;
  &:hover {
    color: var(--color-green);
  }
  &:disabled {
    color: var(--color-grey);
  }
  svg {
    width: rem(32px);
    height: rem(32px);
  }
}
