.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  @media (max-width: 1023px) {
    position: absolute;
    top: 0;
    left: 0;
    translate: 0 100%;
  }
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper {
}

.slide {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);

  @media (min-width: 1024px) {
    width: 100vw;
  }

  .img {
    height: 100vh;
    height: 100dvh;
  }
}

.gridContainer {
  position: relative;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid {
  --gap-x: 1.875rem; // 30px;
  --gap-y: 1.875rem; // 30px;

  --width: 58%;
  --width-prev: 17.8%;
  --height: calc((150vh - var(--gap-y) * 2) / 3);
  --height-out: calc((150vh - 100vh) / 2);
  --height-in: calc(var(--height) - var(--height-out));

  --left: calc(var(--width-prev) + var(--gap-x));
  --top: calc(var(--height-in) + var(--gap-y));

  --left-plus-width: calc(var(--left) + var(--width));
  --top-plus-height: calc(var(--top) + var(--height));

  display: grid;
  grid-template-columns: var(--width-prev) var(--width) var(--width-prev);
  //justify-content: space-between;
  column-gap: var(--gap-x);
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-bg);

  clip-path: polygon(
    0 0,
    0 100%,
    var(--left) 100%,
    var(--left) var(--top),
    var(--left-plus-width) var(--top),
    var(--left-plus-width) var(--top-plus-height),
    var(--left) var(--top-plus-height),
    var(--left) 100%,
    100% 100%,
    100% 0
  );

  @media (min-width: 1300px) {
    --gap-x: 2.5rem; // 40px;
    --gap-y: 2.5rem; // 40px;
    --width: 46%;
    --width-prev: 23.8%;
  }
  @media (min-width: 1600px) {
    --gap-x: 5.625rem; // 90px;
    --gap-y: 5rem; // 80px;
    --width: 40.625%;
    --width-prev: 25%;
  }
}
.column {
  position: relative;
}
.columnInner {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-y);
  height: 100vh;
  height: 100dvh;
  width: 100%;
  @media (min-width: 1600px) {
    position: absolute;
    top: 0;
    left: 0;
    height: 150vh;
    top: 50%;
    translate: 0 -50%;
  }
  .item {
    position: relative;
    overflow: hidden;
    flex: 1 1;
  }
}

.centerColumn {
  .columnInner {
    position: absolute;
    top: 0;
    left: 0;
    height: 150vh;
    top: 50%;
    translate: 0 -50%;
  }
}

.bg {
  position: absolute;
  inset: 0;
  &::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.slide2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  translate: 100% 0;
  color: var(--color-white);
  .img {
    height: 56vh;
  }
}

.slideInner {
  position: relative;
  z-index: 2;
  height: 100%;
  text-align: center;
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.mobileContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(20px);
  padding-bottom: rem(100px);
}

.desktopContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(40px);
  max-width: calc(rem(1000) + var(--container-padding) * 2);
  @media (min-width: 1600px) {
    gap: rem(90px);
    max-width: calc(rem(1278px) + var(--container-padding) * 2);
  }
}

.card {
}
.cardImg {
  height: rem(360px);
  @media (min-width: 1600px) {
    height: rem(440px);
  }
}
.cardContent {
  margin-top: rem(40px);
  p {
    margin-top: rem(20px);
  }
}
