.input {
  padding: 0 0 19px 0;
  color: var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
  background-color: transparent;

  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: color, border-color;

  &:hover {
    color: var(--color-white);
    border-color: var(--color-white);
  }

  &:focus,
  &.fill {
    color: var(--color-white);
    border-color: var(--color-white);
  }
  &:disabled {
    color: var(--color-white);
    border-color: var(--color-white);
  }
}

.error {
}
