.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.bg {
  position: absolute;
  inset: 0;
}
.shadow {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
}

.slideInner {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: rem(1512px);
  h2 {
    opacity: 0;
    text-align: center;
    color: var(--color-white);
    margin-bottom: rem(40px);
    max-width: rem(400px);
    @media (min-width: 1024px) {
      margin-bottom: rem(50px);
      max-width: none;
    }
    @media (min-width: 1600px) {
      margin-bottom: rem(80px);
    }
  }
}

.sliderWrapper {
  opacity: 0;
}

.planSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40px);
  text-align: center;
  background-color: var(--color-white);
  padding: rem(20px);

  @media (min-width: 1300px) {
    padding: rem(30px);
  }
  @media (min-width: 1600px) {
    padding: rem(40px);
  }

  + .planSlide {
    margin-left: rem(20px);
  }
  h3 {
    color: var(--color-grey);
  }
  span {
    color: var(--color-green);
  }
}
.planImg {
  height: rem(230px);
  @media (min-width: 1600px) {
    height: rem(220px);
  }
  img {
    object-fit: contain;
  }
}
