.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--color-dark);
}

.wrapperInner {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(1000px);
  height: rem(1000px);

  @media (min-width: 768px) {
    width: rem(1024px);
    height: rem(1024px);
  }

  @media (min-width: 1024px) {
    width: 90vw;
    height: 90vw;
  }
  @media (min-width: 1850px) {
    width: 1800px;
    height: 1800px;
  }
}

.logo {
  position: relative;
  z-index: 5;
  width: rem(200px);
  opacity: 0;

  @media (min-width: 1024px) {
    width: rem(500px);
  }
  @media (min-width: 1600px) {
    width: 38.8%;
  }
}

.round {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.round1 {
  width: 90.6%;
  height: 90.6%;
  opacity: 1;
}

.roundDotted1 {
  width: 69.9%;
  height: 69.9%;
  opacity: 1;
}

.round2 {
  width: 47.96%;
  height: 47.96%;
  opacity: 0;
}

.roundDotted2 {
  width: 29.89%;
  height: 29.89%;
  opacity: 0;
}
.dots {
  width: 32%;
  height: 32%;
  opacity: 0;
}

.round3 {
  width: 19.89%;
  height: 19.89%;
  opacity: 0;
}
