.wrapper {
  &.hide {
    display: none;
  }
}

.wrapperInner {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  translate: none;
}

.wrapper,
.preloader,
.wrapperInner {
  width: 100vw;
  height: 100vh;
}

.preloader {
  position: fixed;
  z-index: 90;
  left: 0;
  bottom: 0;
  &.prev {
    top: 0;
  }
}
