.section {
  position: relative;
}

.content {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide1 {
  position: relative;
  text-align: center;

  @media (min-width: 1024px) {
    display: flex;
    text-align: left;
  }

  .image {
    height: 52%; // 370px

    @media (min-width: 1024px) {
      width: rem(420px);
      flex: 0 0 rem(420px);
      height: 100%;
    }
    @media (min-width: 1300px) {
      width: 40%;
      flex: 0 0 40%;
    }
    @media (min-width: 1600px) {
      width: 45.3%;
      flex: 0 0 45.3%;
    }
  }

  .container {
    margin-top: rem(50px);
    max-width: rem(440px);
    @media (min-width: 1024px) {
      max-width: none;
      margin: 0;
      flex: 1 1 auto; // 49.22%;
      //width: 49.22%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  h2 {
    @media (min-width: 1024px) {
      word-wrap: break-word;
      width: rem(465px);
      margin-left: auto;
    }
    @media (min-width: 1300px) {
      width: rem(580px);
    }
    @media (min-width: 1600px) {
      width: 100%;
      max-width: rem(920px);
    }
  }
  p {
    margin-top: rem(20px);
    @media (min-width: 768px) {
      margin-top: rem(40px);
    }
    @media (min-width: 1024px) {
      max-width: rem(304px);
      margin-left: auto;
    }
    @media (min-width: 1300px) {
      max-width: rem(350px);
    }
    @media (min-width: 1600px) {
      max-width: rem(366px);
      margin-top: rem(80px);
      margin-right: 17%;
    }
  }
}

.slide2 {
  padding-top: var(--header-height);
  overflow-y: auto;

  .container {
    padding-top: rem(60px);
    padding-bottom: rem(80px);
    @media (min-width: 768px) {
      padding-bottom: rem(100px);
    }
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: auto 59.3%;
      justify-content: space-between;
    }
    @media (min-width: 1300px) {
      grid-template-columns: auto 47.5%; // 580px
    }
    @media (min-width: 1600px) {
      grid-template-columns: auto rem(820px);
    }
  }
  h2 {
    text-align: center;
    max-width: rem(260px);
    margin: 0 auto;
    margin-bottom: rem(40px);
    @media (min-width: 768px) {
      max-width: none;
      margin-bottom: rem(74px);
    }
    @media (min-width: 1024px) {
      text-align: left;
      max-width: rem(450px);
    }
    @media (min-width: 1600px) {
      padding-top: rem(320px);
    }
  }
}

.cardsGrid {
  display: flex;
  flex-direction: column;
  gap: rem(40px);
  @media (min-width: 768px) {
    gap: 0;
  }
}

.card {
  .image {
    width: rem(280px);
    height: rem(300px);
    @media (min-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }

  &:nth-child(even) {
    display: flex;
    justify-content: flex-end;
  }

  h3 {
    padding-top: 20px;
    @media (min-width: 768px) {
      position: absolute;
      left: 0;
      bottom: 0;
      translate: 0 100%;
    }
  }
}

.cardInner {
  @media (min-width: 768px) {
    position: relative;
    width: 46%; // rem(335px);
    height: rem(300px);
  }
  @media (min-width: 1024px) {
    width: 44.6%;
    height: rem(360px);
  }
  @media (min-width: 1300px) {
    width: 44.82%; // rem(260px);
  }
  @media (min-width: 1600px) {
    height: 440px;
  }
}
