.section {
  position: relative;
  @media (max-width: 1023px) {
    position: absolute;
    top: 0;
    left: 0;
    translate: 0 100%;
  }
}

.content {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  @media (min-width: 1024px) {
    overflow: hidden;
  }
}

.imageWrapper {
  position: absolute;
  transform-origin: center top;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

.image {
  display: block;
  min-height: 100vh;
  min-height: 100dvh;
}

.sliderSlide {
  height: 56vh;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: var(--header-height);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 59.99%, rgba(0, 0, 0, 0.4) 100%);
}

.imageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20px);
  text-align: center;
  color: var(--color-white);
  padding-top: rem(60px);
  max-width: rem(435px);

  @media (min-width: 1024px) {
    max-width: rem(530px);
    padding-top: 0;
    justify-content: flex-end;
    gap: rem(32px);
    padding-bottom: rem(120px);
    height: 100%;
  }
  @media (min-width: 1600px) {
    padding-top: 0;
    gap: rem(48px);
    max-width: rem(740px);
    padding-bottom: rem(100px);
  }

  p,
  h2 {
    display: flex;
    overflow: hidden;
  }
  span {
    display: block;
  }
}

.slide2 {
  overflow: hidden;
  background-color: var(--color-bg);
  width: 100%;

  @media (min-width: 1024px) {
    position: absolute;
    top: 0;
    left: 0;
    translate: 100% 0;
    height: 1900px;
    translate: none;
    background: none;
  }
  @media (min-width: 1300px) {
  }
  @media (min-width: 1600px) {
    height: 2500px;
  }
}

.container2 {
  text-align: center;
  max-width: rem(400px);

  @media (min-width: 1024px) {
    text-align: left;
    position: relative;
    padding-left: rem(40px);
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    right: rem(-2px);
    height: 100%;
    background-color: var(--color-bg);
    width: rem(505px);
    translate: 100% 0;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: rem(-2px);
      width: rem(4px);
      height: 100%;
      background-color: var(--color-bg);
    }
  }
  @media (min-width: 1300px) {
    width: rem(430px);
  }
  @media (min-width: 1600px) {
    width: rem(650px);
    padding-left: rem(80px);
  }

  h3 {
    margin-top: rem(60px);
    @media (min-width: 1024px) {
      margin: 0;
    }
  }
  p {
    margin-top: rem(40px);
    @media (min-width: 1600px) {
      margin-top: rem(80px);
    }
  }
}

.leftBlock {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: rem(90px);
  background-color: var(--color-bg);
  translate: -100% 0;

  @media (min-width: 1300px) {
    width: rem(440px);
  }
  @media (min-width: 1600px) {
    width: rem(500px);
  }
  @media (min-width: 1800px) {
    width: rem(650px);
  }
}

.img1 {
  position: absolute;
  top: rem(60px);
  left: var(--container-padding);
  width: rem(300px);
  height: rem(300px);
  @media (min-width: 1300px) {
    width: rem(360px);
    height: rem(360px);
    top: rem(80px);
  }
  @media (min-width: 1600px) {
    width: rem(480px);
    height: rem(440px);
    top: rem(100px);
    max-width: 83%;
  }
}

.imgBgWrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.imgBg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  translate: -20% 0;
  overflow: hidden;
  height: 0;

  @media (min-width: 1300px) {
    translate: none;
  }
}

.imgBgImg {
  @media (min-width: 1024px) {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    height: 100vh;
    width: rem(770px);
  }
  @media (min-width: 1600px) {
    width: rem(690px);
    left: 45%;
  }
  @media (min-width: 1700px) {
    width: rem(740px);
    left: 45%;
  }
  @media (min-width: 1800px) {
    left: 50%;
  }
}

.subtitle {
  color: var(--color-grey);
  span {
    --fill-percent: 100%;
    position: relative;
    display: block;
    width: -moz-max-content;
    width: max-content;
    line-height: 1.3;
    + span {
      margin-top: em(-12px, 48px);
    }
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: -moz-max-content;
      width: max-content;
      height: 1.2em;
      color: var(--color-dark);
      -webkit-clip-path: inset(0 var(--fill-percent) 0 0);
      clip-path: inset(0 var(--fill-percent) 0 0);
    }
  }
}

.slide3 {
  position: absolute;
  top: 0;
  left: 0;
  translate: 100% 0;

  height: 100vh;
  height: 100dvh;
  width: 100%;
  background-color: var(--color-bg);
  // overflow: hidden;

  @media (min-width: 1024px) {
    width: 140vw;
  }
}

.hr {
  position: absolute;
  left: rem(-3px);
  top: 0;
  height: 100%;
  width: rem(6px);
  background-color: var(--color-bg);
  opacity: 0;
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(55px);
  text-align: center;
  height: 100%;
  padding-top: rem(80px);
  padding-bottom: rem(110px);

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
    gap: rem(30px);
    padding-top: 0;
    padding-bottom: 0;
  }
  @media (min-width: 1300px) {
    gap: rem(40px);
  }
  @media (min-width: 1600px) {
    gap: rem(70px);
  }

  h2 {
    max-width: rem(320px);
    @media (min-width: 1024px) {
      max-width: none;
      text-align: right;
      flex: 0 0 rem(330px);
    }
    @media (min-width: 1600px) {
      flex: 0 0 rem(535px);
    }
  }
}

.beachImage {
  position: relative;

  @media (min-width: 1024px) {
    height: rem(350px);
    width: rem(230px);
  }
  @media (min-width: 1300px) {
    height: rem(350px);
    width: rem(312px);
  }
  @media (min-width: 1600px) {
    margin-left: rem(20px);
    width: rem(320px);
    height: rem(440px);
  }

  img {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: rem(94px);
    height: rem(94px);
    top: rem(-47px);
    left: rem(-47px);
    border-radius: 50%;
    background-color: var(--color-green);
    @media (min-width: 1024px) {
      width: rem(120px);
      height: rem(120px);
      top: rem(-60px);
      left: rem(-60px);
    }
    @media (min-width: 1300px) {
      width: rem(160px);
      height: rem(160px);
      top: rem(-80px);
      left: rem(-80px);
    }
    @media (min-width: 1600px) {
      width: rem(200px);
      height: rem(200px);
      top: rem(-130px);
      left: rem(-100px);
    }
  }
}

.beachText {
  margin-top: rem(5px);

  @media (min-width: 1024px) {
    margin-top: 0;
    width: rem(305px);
  }
  @media (min-width: 1300px) {
    width: rem(350px);
  }
  @media (min-width: 1600px) {
    width: rem(366px);
    margin-right: 8.9673913%;
  }

  p {
    max-width: rem(400px);
  }
}

.img4 {
  width: rem(300px);
  height: rem(440px);
  margin-bottom: rem(120px);
}

.img3 {
  position: absolute;
  left: rem(40px);
  top: rem(1400px);
  width: rem(280px);
  height: rem(240px);
  @media (min-width: 1300px) {
    width: rem(480px);
    height: rem(440px);
    max-width: 80%;
  }
  @media (min-width: 1600px) {
    top: rem(1800px);
  }
}

.list {
  --list-img-height: 16rem;
  --list-img-width: 14rem;
  position: absolute;
  top: rem(800px);
  left: rem(20px);
  width: var(--list-img-width);
  height: var(--list-img-height);
  @media (min-width: 1300px) {
    --list-img-height: 18.75rem; // 300px;
    --list-img-width: 27.5rem; // 440px;
    left: rem(150px);
    max-width: 50%;
  }
  @media (min-width: 1600px) {
    top: rem(900px);
    left: rem(220px);
  }
}
.listImgWrap {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.listImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--list-img-height);
}
