.section {
  position: relative;
}

.content {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

// slide1
.slide1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: rem(60px);

  @media (min-width: 1024px) {
    height: 100%;
    flex-direction: row;
    text-align: left;
    gap: rem(40px);
  }
  @media (min-width: 1600px) {
    gap: rem(90px);
  }

  .image1 {
    position: relative;
    width: rem(250px);
    height: rem(340px);
    @media (min-width: 1024px) {
      width: rem(340px);
      height: rem(360px);
    }
    @media (min-width: 1600px) {
      width: rem(320px);
      height: rem(440px);
    }
    &::before {
      @media (max-width: 1023px) {
        content: '';
        position: absolute;
        display: block;
        width: rem(94px);
        height: rem(94px);
        top: rem(-47px);
        left: rem(-47px);
        border-radius: 50%;
        background-color: var(--color-green);
      }
    }
  }
  .image2 {
    display: none;
    @media (min-width: 1024px) {
      position: relative;
      display: block;
      width: rem(260px);
      height: rem(360px);
    }
    @media (min-width: 1600px) {
      width: rem(460px);
      height: rem(440px);
    }
    &::before {
      @media (min-width: 1024px) {
        content: '';
        position: absolute;
        display: block;
        border-radius: 50%;
        background-color: var(--color-green);

        width: rem(120px);
        height: rem(120px);
        top: rem(-60px);
        left: rem(-60px);
      }
      @media (min-width: 1300px) {
        width: rem(160px);
        height: rem(160px);
        top: rem(-80px);
        left: rem(-80px);
      }
      @media (min-width: 1600px) {
        width: rem(200px);
        height: rem(200px);
        top: rem(-130px);
        left: rem(-100px);
      }
    }
  }
  img {
    position: relative;
    z-index: 2;
  }
}

.slide2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  translate: 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(10px);
  text-align: center;
  width: 100%;

  @media (min-width: 1024px) {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    text-align: left;
    gap: rem(50px);
  }
  @media (min-width: 1300px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .container {
    @media (min-width: 1300px) {
      margin: 0;
      padding-right: 0;
      width: 40%; // rem(520px);
    }
    @media (min-width: 1600px) {
      width: rem(665px);
    }
  }
  .text {
    max-width: rem(400px);
    margin: 0 auto;
    @media (min-width: 1024px) {
      max-width: rem(870px);
      margin: 0;
    }
    @media (min-width: 1300px) {
      max-width: none;
    }
  }

  p {
    margin-top: rem(40px);
    @media (min-width: 1600px) {
      margin-top: rem(60px);
    }
  }
}

.chartWrapper {
  width: 100%;
  padding: 0 var(--container-padding);
  @media (min-width: 1300px) {
    padding-left: 0;
    width: auto !important;
  }
}
.chart {
  width: rem(650px);
  margin: 0 auto;
  @media (min-width: 768px) {
    translate: 35px 0;
  }
  @media (min-width: 1300px) {
    margin: 0;
    translate: 0;
  }
  @media (min-width: 1450px) {
    width: rem(820px);
  }
  @media (min-width: 1800px) {
    width: rem(940px);
  }
}

.scrollbar {
  display: none !important;
  @media (max-width: 768px) {
    display: block !important;
    margin-left: rem(40px);
    margin-right: rem(40px);
    width: calc(100% - 80px);
  }
}

.slide3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  translate: 0 100%;
  text-align: center;
  width: 100%;
  height: 100vh;

  @media (min-width: 1024px) {
    display: flex;
    text-align: left;
  }

  .image {
    height: 32.39%; //rem(230px);

    @media (min-width: 1024px) {
      width: rem(520px); // 50.78%;
      flex: 0 0 rem(520px); // 50.78%;
      height: 100%;
    }
    @media (min-width: 1300px) {
      width: 40%;
      flex: 0 0 40%;
    }
    @media (min-width: 1600px) {
      width: 45.3%;
      flex: 0 0 45.3%;
    }
  }

  .container {
    margin-top: rem(60px);
    max-width: rem(440px);
    @media (min-width: 1024px) {
      max-width: none;
      margin: 0;
      flex: 1 1 auto; // 49.22%;
      //width: 49.22%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  h3 {
    @media (min-width: 1024px) {
      word-wrap: break-word;
      max-width: rem(580px);
      margin-left: auto;
    }
    @media (min-width: 1600px) {
      max-width: rem(920px);
    }
  }
  p {
    margin-top: rem(40px);
    @media (min-width: 1024px) {
      max-width: rem(305px);
      margin-left: auto;
    }
    @media (min-width: 1300px) {
      max-width: rem(350px);
    }
    @media (min-width: 1600px) {
      max-width: rem(530px);
      margin-top: rem(80px);
    }
  }
}

.slide4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  translate: 0 100%;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  @media (min-width: 1300px) {
    display: block;
  }

  .conteinerWrapper {
    flex-grow: 1;
    @media (min-width: 1300px) {
      height: 100%;
      display: grid;
      grid-template-columns: rem(520px) 47.7%;
      justify-content: space-between;
      align-items: end;
    }
    @media (min-width: 1600px) {
      grid-template-columns: rem(830px) 50%;
    }
  }

  .image {
    height: 44.37%; //rem(230px);

    @media (min-width: 1300px) {
      position: absolute;
      top: 0;
      right: 0;
      width: 47.7%;
      height: 52.6%;
    }
    @media (min-width: 1600px) {
      width: 50%;
      height: 47.5%;
    }

    img {
      @media (min-width: 1300px) {
        object-position: center 59%;
      }
    }
  }

  .container {
    margin-top: rem(60px);
    max-width: rem(445px);
    text-align: center;
    @media (min-width: 1300px) {
      max-width: none;
      margin: 0;
      flex: 1 1 auto; // 49.22%;
      //width: 49.22%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding-right: 0;
      padding-bottom: rem(60px);
      height: 70%;
    }
    @media (min-width: 1600px) {
      padding-bottom: rem(120px);
      height: 80%;
    }
  }
  h3 {
    @media (min-width: 1024px) {
      word-wrap: break-word;
      max-width: rem(580px);
      margin-left: auto;
    }
    @media (min-width: 1600px) {
      max-width: rem(920px);
    }
  }
  p {
    margin-top: rem(40px);
    @media (min-width: 1300px) {
      margin-top: rem(80px);
      max-width: rem(530px);
    }
  }

  .container2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: rem(40px);
    @media (min-width: 1300px) {
      padding-left: 0;
      padding-bottom: rem(15px);
      height: 47.36%;
    }
    @media (min-width: 1600px) {
      padding-bottom: rem(50px);
      height: 52.5%;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: rem(16px);
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px rem(30px);
      }
      @media (min-width: 1600px) {
        grid-template-columns: repeat(2, rem(365px));
      }
    }
    li {
      display: flex;
      align-items: center;
      gap: rem(20px);
    }
  }
}

.icon {
  width: rem(32px);
  height: rem(32px);
  flex: 0 0 rem(32px);
}
