.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  @media (max-width: 1023px) {
    position: absolute;
    top: 0;
    left: 0;
    translate: 0 100%;
    z-index: 5;
  }
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: rem(300px);
  @media (min-width: 1300px) {
    width: rem(408px);
    height: rem(146px);
  }
}

.text {
  position: absolute;
  bottom: rem(67px);
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0 rem(20px);
  color: var(--color-white);
  text-transform: uppercase;
  @media (min-width: 768px) {
    bottom: rem(63px);
    padding: 0;
  }
  @media (min-width: 1024px) {
    bottom: rem(35px);
    right: rem(40px);
    left: auto;
    text-align: right;
    max-width: rem(410px);
  }
  @media (min-width: 1300px) {
    max-width: none;
  }
}
