@use 'sass:math';

// Функции
$html-font-size: 16px;

@function stripUnit($value) {
  @return math.div($value, ($value * 0 + 1));
}

// rem
@function rem($pxValue) {
  @return #{math.div(stripUnit($pxValue), stripUnit($html-font-size))}rem;
}

// em
@function em($pxValue, $parentPxValue) {
  @return #{math.div(stripUnit($pxValue), stripUnit($parentPxValue))}em;
}
