// Переменные
:root {
  --container-padding: 1.25rem; // 20px
  --header-height: 4rem; // 64px

  --color-white: #ffffff;
  --color-dark: #1d1d1b;
  --color-green: #a2c73b;
  --color-grey: #858586;
  --color-divider: #d4dce9;
  --color-bg: #e8e4e3;

  --easeInSine: cubic-bezier(0.12, 0, 0.39, 0);
  --easeOutSine: cubic-bezier(0.61, 1, 0.88, 1);
  --easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
  --easeInQuad: cubic-bezier(0.11, 0, 0.5, 0);
  --easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
  --easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
  --easeInCubic: cubic-bezier(0.32, 0, 0.67, 0);
  --easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
  --easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
  --easeInQuart: cubic-bezier(0.5, 0, 0.75, 0);
  --easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
  --easeInQuint: cubic-bezier(0.64, 0, 0.78, 0);
  --easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
  --easeInOutQuint: cubic-bezier(0.83, 0, 0.17, 1);
  --easeInCirc: cubic-bezier(0.55, 0, 1, 0.45);
  --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
  --easeInOutCirc: cubic-bezier(0.85, 0, 0.15, 1);
  --easeInExpo: cubic-bezier(0.7, 0, 0.84, 0);
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --easeInOutExpo: cubic-bezier(0.87, 0, 0.13, 1);
  --easeInBack: cubic-bezier(0.36, 0, 0.66, -0.56);
  --easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  --easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);

  @media (min-width: 1024px) {
    --container-padding: 2.5rem; // 40px
    --header-height: 5.125rem; // 82px
  }
}

// Стили сброса
html {
  font-size: $html-font-size;
}
html,
body {
  min-height: 100vh;
  max-width: 100vw;
  scrollbar-width: none;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.lenis-prevent,
.hide-scroll {
  scrollbar-width: none;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

* {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

img,
video,
canvas,
svg {
  display: block;
}
img,
picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

iframe {
  border: none;
}

input {
  width: 100%;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
  border: none;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: inherit;
  &::placeholder {
    color: inherit;
  }
  &:focus,
  &._fill {
    outline: none;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-ms-clear {
    display: none;
  }
}

button {
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  user-select: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;

  text-transform: uppercase;

  &:disabled {
    cursor: default;
  }
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding: 0;
}

// breakpoints
.max-1024 {
  @media (min-width: 1024px) {
    display: none;
  }
}
.min-1024 {
  @media (max-width: 1024px) {
    display: none;
  }
}

body {
  position: relative;
  font-size: rem(14px);
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--color-dark);
  background-color: var(--color-bg);
  @media (min-width: 1024px) {
    font-size: rem(16px);
    line-height: 1.5;
  }
  @media (min-width: 1600px) {
    font-size: rem(20px);
  }
}

@media (max-width: 1023px) {
  body,
  main {
    width: 100vw !important;
    height: 100dvh !important;
    overflow: hidden;
  }
}
main {
  overflow: hidden;
  min-height: 100vh;
}

// Текст
.h1 {
  font-size: rem(50px);
  font-weight: 400;
  line-height: 0.9;
  @media (min-width: 1024px) {
    font-size: rem(100px);
  }
  @media (min-width: 1600px) {
    font-size: rem(140px);
  }
}

.h2 {
  font-size: rem(44px);
  font-weight: 400;
  line-height: 1;
  @media (min-width: 1024px) {
    font-size: rem(55px);
  }
  @media (min-width: 1600px) {
    font-size: rem(100px);
  }
}

.h3 {
  font-size: rem(34px);
  font-weight: 400;
  line-height: 1;
  @media (min-width: 1024px) {
    font-size: rem(48px);
  }
  @media (min-width: 1600px) {
    font-size: rem(80px);
  }
}

.h4 {
  font-size: rem(24px);
  font-weight: 400;
  line-height: 1;
  @media (min-width: 1024px) {
    font-size: rem(36px);
  }
  @media (min-width: 1600px) {
    font-size: rem(50px);
  }
}

.subtitle {
  font-size: rem(18px);
  font-weight: 400;
  line-height: 1.2;
  @media (min-width: 1024px) {
    font-size: rem(24px);
  }
  @media (min-width: 1600px) {
    font-size: rem(28px);
  }
}

.info {
  font-size: rem(14px);
  font-weight: 400;
  line-height: 1.5;
}

// Переиспользуемые блоки
.container {
  // max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

// TODO: добавить класс для will-change
.will-change {
  will-change: transform, translate;
}

.slide {
  // position: absolute;
  // top: 0;
  // left: 0;
  height: 100vh;
  width: 100vw;
}
.mobile-slide {
  @media (max-width: 1023px) {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    // translate: 0 100%;
    // transition: translate 0.1s var(--easeInOutQuart);
    &.active {
      translate: none;
    }
  }
}

.dark-content {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.green {
  color: var(--color-green);
}

.bullet-link {
  position: relative;
  display: inline-block;
  padding-left: 0;
  transition-duration: 0.25s;
  transition-timing-function: var(--easeInOutQuart);
  transition-property: color, padding-left;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: rem(6px);
    height: rem(6px);
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    transition-duration: 0.25s;
    transition-timing-function: var(--easeInOutQuart);
    transition-property: opacity, background-color;
  }

  &--md {
    &::before {
      width: rem(8px);
      height: rem(8px);
    }
  }

  &--lg {
    &::before {
      width: rem(14px);
      height: rem(14px);
      @media (min-width: 1600px) {
        width: rem(16px);
        height: rem(16px);
      }
    }
  }
}

@media (any-hover: hover) {
  .bullet-link-card:hover .bullet-link,
  .bullet-link:hover,
  .bullet-link.active {
    color: var(--color-green);
    padding-left: rem(16px);
    &::before {
      opacity: 1;
      background-color: var(--color-green);
    }
  }
  .bullet-link-card:hover .bullet-link--md,
  .bullet-link--md:hover,
  .bullet-link--md.active {
    padding-left: rem(18px);
  }
  .bullet-link-card:hover .bullet-link--lg,
  .bullet-link--lg:hover,
  .bullet-link--lg.active {
    padding-left: rem(24px);
    @media (min-width: 1600px) {
      padding-left: rem(36px);
    }
    padding-left: rem(36px);
  }
}

.black-section {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.white-section {
  background-color: var(--color-bg);
  color: var(--color-dark);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

// hammer.js
@media (max-width: 1023px) {
  .slides-wrapper {
    // initial state
    .m1-curtainInner {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m1-videoOverlay {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    .m1-videTitle {
      translate: 0 7rem;
      transition: translate 0.5s ease;
    }
    .m1-videSubtitle {
      translate: 0 10rem;
      transition: translate 0.5s ease;
    }
    .m1-slide2 {
      translate: 0 100%;
      transition: translate 0.8s var(--easeInOutQuart);
    }

    // /location
    .m2-slide2 {
      translate: 0 100%;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m2-slide2 h2 {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    .m2-slide2-text {
      opacity: 0;
      translate: 0 rem(100px);
      transition:
        opacity 0.3s ease,
        translate 0.6s ease;
      @media (min-height: 800px) {
        translate: 0 rem(180px);
      }
    }
    .m2-slide2-img {
      height: rem(340px);
      width: rem(250px);
      translate: none;
      transition-duration: 0.6s;
      transition-timing-function: ease;
      transition-property: width, height, translate;
    }
    .m2-slide2-img::before {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    .m2-slide22 {
      translate: 0 100%;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m2-slide22 h2 {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    .m2-slide22-text {
      opacity: 0;
      translate: 0 rem(100px);
      transition:
        opacity 0.3s ease,
        translate 0.6s ease;
      @media (min-height: 800px) {
        translate: 0 rem(180px);
      }
    }
    .m2-slide22-img {
      height: rem(340px);
      width: rem(250px);
      translate: none;
      transition-duration: 0.6s;
      transition-timing-function: ease;
      transition-property: width, height, translate;
    }
    .m2-slide22-img::before {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    .m2-slide3 {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m2-slide4 {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m2-slide4-slider {
      translate: none;
      opacity: 1;
      transition:
        opacity 0.8s ease,
        translate 0.8s var(--easeInOutQuart);
    }
    .m2-slide4-text {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m2-slide4-text p {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .m2-slide5 {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m2-slide5-container {
      translate: 0 rem(120px);
      transition: translate 0.6s ease;
    }
    .m2-slide5 h2 {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    .m2-slide5-img {
      height: rem(340px);
      width: rem(250px);
      translate: none;
      transition-duration: 0.6s;
      transition-timing-function: ease;
      transition-property: width, height, translate;
    }
    .m2-slide5-img::before {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    .m2-slide5 p {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .m2-slide6 {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m2-slide7 {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m2-slide7-img {
      opacity: 1;
      translate: none;
      transition:
        opacity 0.3s ease,
        translate 0.6s ease;
    }
    .m2-slide7-container {
      translate: none;
      transition: translate 0.6s ease;
    }

    .m2-slide8 {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }

    .m2-slide9 {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }

    .m2-slide10 {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }

    .m2-slide11 {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }

    .m2-slide12 {
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }

    // /comfort
    .m3-slide2 {
      translate: 0 100%;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m3-slide3 {
      translate: 0 100%;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m3-slide4 {
      z-index: 2;
      translate: 0 100%;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m3-slide5 {
      z-index: 3;
      translate: 0 100%;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m3-slide5-container {
      translate: none;
      transition: translate 0.6s ease;
    }
    .m3-slide5 {
      z-index: 3;
      translate: 0 100%;
      transition: translate 0.8s var(--easeInOutQuart);
    }

    .m3-slide6 {
      z-index: 6;
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m3-slide7 {
      z-index: 7;
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m3-slide8 {
      z-index: 8;
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m3-slide9 {
      z-index: 9;
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m3-slide10 {
      z-index: 10;
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m3-slide11 {
      z-index: 11;
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m3-slide12 {
      z-index: 12;
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }
    .m3-slide13 {
      z-index: 13;
      translate: none;
      transition: translate 0.8s var(--easeInOutQuart);
    }

    &.state-1 {
      // /
      .m1-curtainInner {
        translate: 0 -100%;
      }
      .m1-videoOverlay {
        opacity: 1;
        transition-delay: 0.3s;
      }
      .m1-videTitle {
        translate: none;
        transition-delay: 0.3s;
      }
      .m1-videSubtitle {
        translate: none;
        transition-delay: 0.3s;
      }
      // /location
      .m2-slide2 {
        translate: none;
      }
      // /comfort
      .m3-slide2 {
        translate: none;
      }
    }

    &.state-2 {
      // /
      .m1-slide2 {
        translate: none;
      }
      .m2-slide4 {
        translate: none;
      }
      .m2-slide4-text p {
        opacity: 0;
      }
      // /location
      .m2-slide2 h2 {
        opacity: 0;
      }
      .m2-slide2-text {
        opacity: 1;
        translate: none;
      }
      .m2-slide2-img {
        width: calc(100% + var(--container-padding) * 2);
        height: 51vh;
        translate: 0 -80%;
        @media (min-height: 800px) {
          translate: 0 -67%;
        }
      }
      .m2-slide2-img::before {
        opacity: 0;
      }
      // /comfort
      .m3-slide3 {
        translate: none;
      }
    }

    &.state-3 {
      // /location
      .m2-slide22 {
        translate: none;
      }
      // /comfort
      .m3-slide4 {
        translate: none;
      }
    }

    &.state-4 {
      // /location
      .m2-slide22 h2 {
        opacity: 0;
      }
      .m2-slide22-text {
        opacity: 1;
        translate: none;
      }
      .m2-slide22-img {
        width: calc(100% + var(--container-padding) * 2);
        height: 51vh;
        translate: 0 -80%;
        @media (min-height: 800px) {
          translate: 0 -67%;
        }
      }
      .m2-slide22-img::before {
        opacity: 0;
      }
      // /comfort
      .m3-slide5 {
        translate: none;
      }
    }

    &.state-5 {
      // /location
      .m2-slide3 {
        translate: 0 -100%;
      }
      // /comfort
      .m3-slide5-container {
        translate: 0 -25%;
        @media (min-height: 800px) {
          translate: 0 -20%;
        }
      }
    }

    &.state-6 {
      // /location
      .m2-slide4 {
        translate: 0 -100%;
      }
      // /comfort
      .m3-slide5-container {
        translate: 0 -50%;
        @media (min-height: 800px) {
          translate: 0 -40%;
        }
      }
    }

    &.state-7 {
      // /location
      .m2-slide4-slider {
        translate: 0 rem(-250px);
        opacity: 0;
      }
      .m2-slide4-text {
        translate: 0 rem(-300px);
        @media (min-height: 800px) {
          translate: 0 rem(-250px);
        }
      }
      .m2-slide4-text p {
        opacity: 1;
      }
      // /comfort
      .m3-slide5-container {
        translate: 0 -75%;
        @media (min-height: 800px) {
          translate: 0 -65%;
        }
      }
    }

    &.state-8 {
      // /location
      .m2-slide5 {
        translate: 0 -100%;
      }
      // /comfort
      .m3-slide6 {
        translate: 0 -100%;
      }
    }

    &.state-9 {
      .m2-slide5-container {
        translate: 0 rem(-190px);
        @media (min-height: 800px) {
          translate: 0 rem(-230px);
        }
      }
      .m2-slide5 h2 {
        opacity: 0;
      }
      .m2-slide5-img {
        width: calc(100% + var(--container-padding) * 2);
        height: 56vh;
        //translate: 0 -67%;
      }
      .m2-slide5-img::before {
        opacity: 0;
      }
      .m2-slide5 p {
        opacity: 1;
      }
      // /comfort
      .m3-slide7 {
        translate: 0 -100%;
      }
    }

    &.state-10 {
      .m2-slide6 {
        translate: 0 -100%;
      }
      // /comfort
      .m3-slide8 {
        translate: 0 -100%;
      }
    }

    &.state-11 {
      .m2-slide7 {
        translate: 0 -100%;
      }
      // /comfort
      .m3-slide9 {
        translate: 0 -100%;
      }
    }

    &.state-12 {
      .m2-slide7-img {
        translate: 0 -45vh;
        opacity: 0;
        @media (min-height: 800px) {
          translate: 0 -40vh;
        }
      }
      .m2-slide7-container {
        translate: 0 -45vh; //rem(-700px);
        @media (min-height: 800px) {
          translate: 0 -40vh;
        }
      }
      // /comfort
      .m3-slide10 {
        translate: 0 -100%;
      }
    }

    &.state-13 {
      .m2-slide7-container {
        translate: 0 rem(-700px);
        @media (min-height: 800px) {
          translate: 0 rem(-600px);
        }
      }
      // /comfort
      .m3-slide11 {
        translate: 0 -100%;
      }
    }

    &.state-14 {
      .m2-slide8 {
        translate: 0 -100%;
      }
      // /comfort
      .m3-slide12 {
        translate: 0 -100%;
      }
    }

    &.state-15 {
      .m2-slide9 {
        translate: 0 -100%;
      }
      // /comfort
      .m3-slide13 {
        translate: 0 -100%;
      }
    }

    &.state-16 {
      .m2-slide10 {
        translate: 0 -100%;
      }
    }

    &.state-17 {
      .m2-slide11 {
        translate: 0 -100%;
      }
    }

    &.state-18 {
      .m2-slide12 {
        translate: 0 -100%;
      }
    }
  }
}

.chart {
  .line1 {
    fill: none;
    stroke: #a2c73b;
    stroke-width: 0.942189;
    animation: none 1.5s linear;
    animation-fill-mode: forwards;
  }
  .line2 {
    fill: none;
    stroke: #a2c73b;
    stroke-width: 0.942189;
    animation: none 0.4s linear;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    opacity: 0;
  }
  &.startAnimation {
    .line1 {
      animation-name: move;
    }
    .line2 {
      animation-name: opacity;
    }
  }
}
@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes opacity {
  100% {
    opacity: 1;
  }
}
