.header {
  --header-color: var(--color-white);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  color: var(--header-color);
  opacity: 1;
  transition:
    color 0.6s ease,
    opacity 0.3s ease;
  &.dark {
    --header-color: var(--color-dark);
  }

  &.open {
    .logo {
      opacity: 1;
    }
  }
  &.transparent {
    opacity: 0;
  }
}

.container {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phoneBtn {
  svg {
    width: rem(32px);
    height: rem(32px);
  }
  span {
    display: none;
  }
  @media (min-width: 1024px) {
    svg {
      display: none;
    }
    span {
      display: block;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  gap: rem(20px);
  @media (min-width: 1024px) {
    gap: rem(40px);
  }
}

// Burger
.burgerBtn {
  position: relative;
  gap: rem(4px);
  width: rem(32px);
  height: rem(32px);

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: rem(2px);
    width: rem(30px);
    background-color: var(--header-color);
    transition-duration: 0.3s;
    transition-timing-function: var(--easeInOutQuart);
    transition-property: background-color, translate, rotate, width;
  }
  &::before {
    translate: 1px calc(-50% - 3px);
  }
  &::after {
    //transform-origin: 0 center;
    //scale: none;
    translate: 1px calc(-50% + 3px);
  }

  &:hover {
    &::before,
    &::after {
      background-color: var(--color-green);
    }
  }

  &.open {
    &:hover {
      &::after {
        //scale: 0.666666667 1;
        width: rem(20px);
      }
    }
  }

  &.close {
    &::before {
      rotate: 45deg;
      translate: 1px -50%;
    }
    &::after {
      rotate: -45deg;
      translate: 1px -50%;
      transform-origin: center center;
    }
  }
}

.burger {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 95;
  padding-top: var(--header-height);
  background-color: var(--color-bg);

  translate: 0 -100%;

  transition-timing-function: var(--easeInOutQuart);
  transition-duration: 0.8s;
  transition-property: translate;

  &.open {
    translate: none;
  }
}

.logo {
  display: none;
  @media (min-width: 1300px) {
    display: block;
    position: fixed;
    z-index: 100;
    top: rem(27px);
    left: 50%;
    translate: -50% 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    transition-delay: 0.3s;
    mix-blend-mode: difference;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.logoItem {
  // svg font
  font-family: var(--logo-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: never;
  font-display: block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: var(--color-white);
  &:before {
    content: '\e900';
    font-size: 22px;
  }
}

.burgerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: rem(40px);
  padding-bottom: rem(20px);
  overflow: auto;
  gap: rem(48px);
  @media (min-width: 768px) {
    flex-direction: row;
  }
  @media (min-width: 1024px) {
    padding-top: rem(60px);
    padding-bottom: rem(60px);
  }
  @media (min-width: 1300px) {
    overflow: hidden;
  }
  @media (min-width: 1600px) {
    padding-top: rem(110px);
    padding-bottom: rem(40px);
  }
}

.burgerNav2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(10px);
  @media (min-width: 768px) {
    flex: 0 0 rem(260px);
  }
  @media (min-width: 1024px) {
    flex: 0 0 32.4%;
  }
  @media (min-width: 1300px) {
    flex: 0 0 26.3%;
  }
  @media (min-width: 1600px) {
    flex: 0 0 30%;
  }
}

.list2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(10px);
}

.li {
  + .li {
    margin-top: rem(20px);
    @media (min-width: 1024px) {
      margin-top: rem(40px);
    }
  }
}

.liInner {
  display: flex;
  flex-direction: column;
  gap: rem(10px);

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-end;
    gap: rem(20px);
  }

  .burgerTitle {
    color: var(--color-grey);
    transition: color 0.15s ease-in-out;
  }
  &:hover {
    .burgerTitle {
      color: var(--color-dark);
    }
  }
}

.burgerImg {
  display: none;
  @media (min-width: 768px) {
    display: block;
    width: 100%;
    max-width: rem(320px);
    height: rem(390px);
    object-fit: cover;
  }
  @media (min-width: 1600px) {
    height: rem(445px);
  }
}

.left {
  display: flex;
  align-items: center;
  gap: rem(20px);
  @media (min-width: 1024px) {
    gap: rem(40px);
  }
}
.backBtn {
  display: flex;
  gap: rem(10px);
  align-items: center;
  transition:
    color 0.25s ease,
    opacity 0.3s ease;

  display: none;

  svg {
    width: rem(24px);
    height: rem(24px);
  }
  &:hover {
    color: var(--color-green);
  }
  &.show {
    display: flex;
  }

  @media (min-width: 768px) {
    display: flex;
    opacity: 0;
    pointer-events: none;
    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.displayNone {
  display: none;
}
